<footer>
<br/>
<nav>
	<a href = "https://github.com/Kewalthapa" target = "_blank">Webspace</a> &clubs;
	<a href = "https://github.com/Kewalthapa/web250" target = "_blank">Github</a> &clubs;
	<a href = "https://kewalthapa.github.io/Hello-World/" target = "_blank">Github page</a> &clubs;
	<a href = "https://www.codecademy.com/profiles/Kewalthapa" target = "_blank">Codecademy</a> &clubs;
	<a href = "https://jsfiddle.net/" target = "_blank">Jsfiddle</a> &clubs;

</nav>
<br />
<p>
<br/>&copy; 2022 - designed by: Kewal Thapa
</p>

	<a href = "https://validator.w3.org/check?uri=">
	<img src="images/yellow-button-html.png" width="88" height="31" alt="Link to HTML validator">
	</a>
	
	
	
    	<a href = "https://jigsaw.w3.org/css-validator/validator?uri=">
	<img src="images/blue-button-css.png" width="88" height="31" alt="Link to CSS validator">
		
    </a>
	
	<script>
		document.getElementById("htmlButton").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
	</script>

</footer> 
