body
{
	margin-top: 40px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Century;
	color: black;
	background-color: #B0C4DE;
    	background-size: cover;
    	/*background-size: 100%;*/
	font-size: 23px;
  	margin: 0 80px;

}

h1, h2, h3
{
	text-align: center;
}

h4 
{
	text-align: left;
}

p

{	
	background-color: #B0C4DE;
	font-style: sans-serif;
}

p2

{
	text-align: left;
	background-color: #B0C4DE;
}

header
{
	background-color: #B0C4DE;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logoHeader {
	padding:10px;
}

.logoline {
	text-align: center;
	font-family: 'Calibri';
	font-size: 3rem;
	font-weight: bold;
	color: red;
}

.tagline {
	text-align: center;
	font-family: 'Calibri';
	font-size: 1rem;
	color: green;
}

main
{
	background-color: #B0C4DE;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo {
	width: 5%;
	height:auto;
	
}

footer
{
	text-align: center;
	background-color: #B0C4DE;
	left: 0;
  	bottom: 0;
  	width: 100%;
}

figcaption
{
	font-style: 'Montserrat', sans-serif;
	text-align: center;
	
}

figure 
{
  float: center;
}

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav, nav a
{
	font-family: arial;
	background-color: #f79e9e;
	text-decoration: none;
	margin: 0;
 	padding: 0px;
	text-align: center;
}

.active nav
{
  background-color: white;
  color: orange;
}

a:hover:not(.active) 
{
  background-color: gray;
  color: orange;
}

a {
  color: royalblue; 
}

